.wrapper {
    background-attachment: fixed;
    padding: 30px 0px 80px;
}

.container {
    max-width: 950px;
    height: 500px;
    margin: 0px auto;
    padding: 20px;

    background-color: white;

    border-radius: 30px;
    
    box-shadow: 0 3px 5px rgba(0,0,0, 0.1);
}
